node_modules/
util/cf-terraforming/.terraform*
util/cf-terraforming/*.tf
util/cf-terraforming/*.txt
.secret*
output/
.terraform/
.awsrc
.cfrc
.idea/

terraform-apply-*.txt
terraform-plan.*
terraform-plan-*.txt
terraform-show-plan-*.txt

scratch/

